*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerr{
    max-width: 1440px;
    margin: 0 auto;
}

@media screen and (max-width: 1440px) and (min-width: 1280px){
    .containerr{
        max-width: 94%;
    }
}

@media screen and (max-width: 1279px) and (min-width: 560px){
    .containerr{
        max-width: 90%;
    }
}

@media screen and (max-width: 559px) and (min-width: 280px){
    .containerr{
        max-width: 92%;
    }
}

.ant-switch {
    -webkit-appearance: button;
    background-color: rgba(0, 0, 0, 0.25);
    background-image: none;
}

:root {
    --bg-color: #fff;
    --headings-color: #000000;
    --desc-color: #000000;
}

.container-background{
    min-height: 100vh !important;
}
body[data-theme="dark-theme"] {
    --bg-color: #222;
    --headings-color: #fff;
    --desc-color: #fff;
}

body[data-theme="light-theme"] {
    --bg-color: #fff;
    --headings-color: #111;
    --desc-color: #111;
}

.container-background{
    background: var(--bg-color);
}
.theme-login{
    background: var(--bg-color);
}

h2, h3, h5, h6, h1, p {
    color: var(--headings-color);
}
